
//Descriptive Variables

//Colors
$white :#fff;
$ightgreen :#6ab47b;
$darkgreen :#599a68;

//Fonts
$font-1 : 1em;

//Family Fonts
$ari : Arial;

//Functional Variables 

$main-white : $white;
$lighter-green : $ightgreen;
$darker-green : $darkgreen;

//font-size
$sixteen : $font-1;

//font-family
$thin-font : $ari;

